*{
  padding: 0%;
  margin: 0%;  
  box-sizing: 0;
  font-family: "Lato",sans-serif;
  font-family: "poppins" sans-serif;
}

/* banner part start */
.top-banner{
    margin-bottom: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15.8rem;



color: white;
text-align: center;

background-image: linear-gradient(rgba(0,0,0,0.5)rgba(0,0,0,0.5)) url('../images/donation13.jpg');
 background-image: url('../images/donation13.jpg')


}



.heading-part{
    font-size: 25px;

}
.paragraph-part{
  font-size: 15px;
}

.donate-tk{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 3rem;

    font-size: 30px;
    color: gray;
    font-weight: bold;
}
.donate-paragraph{
    text-align: center;
    font-size: 18px;
}
 .btn{
  text-decoration: none;
  display: inline-block;
  color: white;
  background-color: crimson;
  padding: 10px 20px;
  border-radius: 5px ;
 }

/* banner part work end */

/* money part work start */

.money-part2{
    border: 2px solid orangered;
    color: orangered;
    background-color: pink;
    padding: 20px 10px;
    margin-bottom: 50px;

}
 .money-part1,
.money-part3,
.money-part4,
.money-part5{
    padding: 10px 20px;
} 


.amount{
     margin-top: 3.5rem;
    text-align: center;
    font-size: 25px;
    color: grey;
    opacity: 10px;
    justify-content: center; 
     display: flex;

    
    

}
.doted{
    text-align: center;
    text-decoration: underline;
}


.text-file{
    text-align: center;
    margin-left: 39rem;
    border: none;
    font-size: 25px;
}
.button-link{
    text-align: center;
    margin-top: 3.6rem;
    margin-bottom: 4rem;
}
.button-link a { 

    text-decoration: none;
    color: white;
    background-color: crimson;
    padding: 15px 45px;
}
/* money part end */

/* last donate part start  */
.donate-plan{
    text-align: center;
    font-size: 40px;

}
.planning-text{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 3.5rem;
  } 
    

.sector{
    display: flex;
    justify-content: center;
    width: 70%;
    margin-top: 5rem;
    margin-left: 15%;
    justify-content: space-between;
    gap: 1.5rem;
    margin-bottom: 4rem;
}
.sector-3{
    width: 320px;
    padding: 40px 17px;
    background : #eebdcd
}
.sector-1{
    width: 320px;
    padding: 40px 17px;
    background:  rgba(79, 157, 166, 0.1);
    border-radius: 5px;

}
.sector-2{
    width: 320px;
    padding: 40px 17px;
    background: #FFF4D6;;
    border-radius: 5px;
}


/* last donate part work end */

/* description part work start */
.part-1{
    margin-top: 5rem;
    display: flex;
    gap: 9rem;
    width: 85%;
    padding-left:7%;
  }
  
  .section-1{
    margin-top: 10rem;
    text-align: justify;
    
  }
  .section-1 a{
    text-decoration: none;
    background-color: brown;
    padding: 15px 25px;
    color: white;
  
  }
  
  .part-2{
    margin-top: 5rem;
    display: flex;
    gap: 9rem;
    width: 50%;
    padding-left:7%;
  }
  
  .section-3 {
    margin-top: 5rem;
    text-align: justify;
  
  }
  
  .section-3 a{
    text-decoration: none;
    background-color: brown;
    padding: 15px 25px;
    color: white;
  
  }
  
 
  .part-3{
    margin-top: 6.5rem;
    display: flex;
    gap: 9rem;
    width: 50%;
    
    padding-left:7%;
    margin-bottom: 7rem;
  }
  

  .section-5 {
    margin-top: 10rem;
    text-align: justify;
  }
  
  .section-5 a{
    text-decoration: none;
    background-color: brown;
    padding: 15px 25px;
    color: white;
  
  }
  
  /* description part work end */
  
  .updates{
    text-align: center;
    font-size: 45px;
  }
  
  /* from part start */
  form{
    
    text-align: center;
    background-color:antiquewhite;
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 80px 160px;
  }

  
  /* mail part work start */
  .email-section{
    background-color:rgb(233, 241, 241);
    font-weight: 400;
    border: none;
    padding: 10px 20px ;
  }
  /* mail part work end */


  /* subscription work part start */
  .subscribe-section{
    background-color:tomato;
    font-weight: 400;
    border: none;
    padding: 10px 20px ;
    margin-left: -3.5px;
  }
  /* from part end */
  
  
 
  
 /* footer part work start */
  footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 100px 40px;
  }
  footer h1{
    color: coral;
    font-size: 40px;
    font-family:caviet;
  }
  /* footer part end */
